.contact-button {
    background-color: var(--complementary);
    color: var(--main);
    margin: 0 auto;
    display: block;
    padding: .5em 1em;
    border: none;
    border-radius: .5em;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    width: fit-content;
    cursor: pointer;
}