footer {
    padding: 2em 0 1em 0;
    background-color: var(--main-2);

    .sponsor {
        display: flex;
        gap: 2em;
        margin-bottom: 2em;
        padding: 0 2em;
        align-items: center;
        justify-content: space-between;

        a {
            display: block;
            max-width: min(12em, 100%);
            max-height: 6em;

            img {
                display: block;
                max-width: min(12em, 100%);
                max-height: 6em;
            }

        }
    }

    .copyright {
        display: flex;
        justify-content: space-between;
        padding-top: 1em;
    }

    .copyright div {
        font-size: 0.94em;
        font-family: -apple-system, BlinkMacSystemFont, Roboto, "segoe ui",
            Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji",
            "segoe ui symbol";
    }
}

@media screen and (max-width: 768px) {
    footer .sponsor {
        padding: 0;
    }
}