footer {
    padding: 2em 0 1em 0;
    background-color: var(--main-2);

    .sponsor {
        display: flex;
        gap: 2em;
        margin-bottom: 2em;
        align-items: center;
        justify-content: center;

        div {
            flex: 50%;
            display: flex;
            justify-content: center;

            a {
                width: min(100%, 12em);

                img {
                    display: block;
                    max-width: 100%;
                }
            }
        }
    }

    .copyright {
        display: flex;
        justify-content: space-between;
        padding-top: 1em;
    }

    .copyright div {
        font-size: 0.94em;
        font-family: -apple-system, BlinkMacSystemFont, Roboto, "segoe ui",
            Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji",
            "segoe ui symbol";
    }
}