.image-video {
    border-radius: 0.5em;
    box-shadow: 0 0 10px 1px #65656520;
    position: relative;

    img {
        display: block;
        object-fit: contain;
        width: 100%;
    }

    .svg-container {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        cursor: pointer;

        svg {
            height: 6em;
            transition: all 0.2s ease-in-out;

            path {
                fill: var(--secondary);
                stroke-width: 0;
                transition: all 0.3s ease-in-out;
            }
        }
    }

    iframe {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        border-radius: 0.5em;
        border: none;
        height: 100%;
    }

    &:hover {
        svg {
            transform: scale(1.2);
            opacity: 100%;

            path {
                fill: var(--complementary);
            }

            #pulse {
                animation: none;
                scale: 0;
            }
        }
    }
}
