section {
    padding: 4em 0;

    &.secondary *,
    &.secondary-2 * {
        color: var(--main);
    }

    &.background-image {
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--secondary);
            opacity: 60%;
            z-index: 0;
        }

        * {
            position: relative;
            z-index: 1;
        }
    }

    &.padding-top {
        padding-top: 6em;
    }

    &.padding-bottom {
        padding-bottom: 6em;
    }
}

div.triangle {
    background-color: var(--main-2);
    height: min-content;

    &.dark {
        background-color: var(--main-3);

        g {
            fill: var(--main-2)
        }
    }

    svg {
        width: 100%;
        display: block;
    }
}