.side-medias {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    z-index: 9999999;

    .socials-medias {
        flex-direction: column;
        gap: 0.5rem;

        div,
        a {
            height: 2rem;
            width: 2rem;

            path {
                fill: var(--secondary);
                transition: fill ease-in-out 0.25s;
            }

            &:hover {
                path {
                    fill: var(--complementary);
                }
            }
        }
    }
}

@media screen and (max-width: 1425px) {
    .side-medias {
        display: none;
    }
}
