:root {
  --main: #ffffff;
  --main-2: #f7f7f7;
  --main-3: #e7e7e7;
  --secondary: #102230;
  --secondary-2: #203240;
  --complementary: #b90d0d;
  --complementary-2: #ffcfd7;
  --complementary-3: #fff9f9;
}

::selection {
  background-color: var(--complementary-2);
}

::-moz-selection {
  background-color: var(--complementary-2);
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: var(--secondary);
  text-decoration: none;
  transition-property: color, opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--main);
}

#root {
  position: relative;
  height: 100svh;
  overflow: auto;
}

.complementary {
  color: var(--complementary);
}

path {
  stroke: var(--secondary);
  stroke-width: 6;
  stroke-linecap: round;
}